body {
  background-color: rgb(32, 34, 37);
}

* {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

#index-title {
  font-size: 80px;
  margin-bottom: 12px;
}

#index-webcode {
  color: white;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

#index-license {
  margin: 20px;
}

.btn {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
}

.btn:hover {
  background-color: royalblue;
}
